.button {
  display: inline-block;
  font-size: rem-calc(30);
  font-weight: bold;
  border-radius: rem-calc(49);
  padding: rem-calc(14 47);
  background: linear-gradient(167deg, #7300cf 53.28%, #51e6ff 100%);
  box-shadow: rem-calc(0 4 19 4) rgba(255, 255, 255, 0.36);
  color: #fff;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: rem-calc(0 4 19 8) rgba(255, 255, 255, 0.3);
    color: #fff;
    text-decoration: none;
  }

  &_turquoise {
    margin: 0 auto;
    background: linear-gradient(10deg, #fff 13.28%, #51e6ff 50%);
  }

  &_hollow {
    background: transparent;
    border: rem-calc(2) solid #fff;
  }

  &_promo {
    @extend .button_hollow;

    position: relative;
    border-radius: rem-calc(29);
    font-size: rem-calc(20);
    width: rem-calc(186);
    padding: rem-calc(14 0);
    text-align: center;
    box-shadow: rem-calc(0 0 10 4) rgba(255, 255, 255, 0.31), inset rem-calc(0 0 10 4) rgba(255, 255, 255, 0.31);

    .button__promo_tip {
      position: absolute;
      font-size: rem-calc(12);
      opacity: 0;
      transition: opacity 0.2s;
      top: 100%;
      transform: translateY(1rem);
      left: 0;
      right: 0;

      &.js-active {
        opacity: 1;
      }
    }
  }

  @include breakpoint(large down) {
    &_promo {
      .button__promo_tip {
        top: 50%;
        right: rem-calc(-10);
        left: auto;
        transform: translate(100%, -50%);
      }
    }
  }

  @include breakpoint(medium down) {
    font-size: rem-calc(24);
    padding: rem-calc(14 37);

    &_promo {
      padding: rem-calc(14 0);
      font-size: rem-calc(20);
      flex-shrink: 0;

      .button__promo_tip {
        font-size: rem-calc(10);
      }
    }
  }

  @media (max-width: 700px) {
    &_promo {
      .button__promo_tip {
        top: 100%;
        transform: translateY(0.5rem);
        left: 0;
        right: 0;
      }
    }
  }

  @include breakpoint(medium down) {
    &_promo {
      width: rem-calc(170);
    }
  }
}
