doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    .main-boilerplate
      .wrapper
        include components/common/_header-prod
        include components/common/_form
        include components/common/_footer