doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    .main-boilerplate
      .wrapper
        include components/common/_header
        .main 
          include components/common/_promo
          include components/common/_about
          include components/common/_request
          include components/common/_details
          include components/common/_attention
          include components/common/_reviews

        include components/common/_footer






