include ../blocks/burger/_burger


doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body
    include components/common/_header
    include components/common/_intro
    include components/common/_audience
    include components/common/_how

    .grid-container
      include components/common/_participate
      include components/common/_about
      include components/common/_footer
    .overlay






