doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
  .wrapper-prod
    include components/common/_header-prod
    include components/common/_products-main
    include components/common/_footer






