section#about.about
  .about__container
    h2.about__title условия участия
    .about__inner
      .about__content
        .about__points
          img.about__points-img-Big(src='./images/leaves.svg', alt='leaves')
          img.about__points-img-Small(src='./images/leavesS.svg', alt='leaves')
          p Вы веган или веганка
          img.about__points-img-Big(src='./images/0+.svg', alt='0+')
          img.about__points-img-Small(src='./images/0+S.svg', alt='0+')
          p Вы не можете оплатить витамин самостоятельно
          img.about__points-img-Big(src='./images/wallet.svg', alt='wallet')
          img.about__points-img-Small(src='./images/walletS.svg', alt='wallet')
          p
            | Вы согласны&nbsp;откладывать<br>деньги&nbsp;на&nbsp;покупку&nbsp;витамина в будущем (на свой счёт или<br>в копилку)
      .about__count
        .about__count-info
          h4.info Мы помогли
          .about__count-data
            p.about__count-sum 245
            .about__img
              span.leaf61
              span.leaf62
              span.ball53
              span.ball51
              span.ball54
              span.fl72
              span.fl73
          h4.info персонам
        a.about__application.about__application-text(href='https://veganrussian.notion.site/15e344a2031a8054bc13ffbbd6fb3aa0')
          | Июнь: прием заявок открыт
