.about
  .about__placeholder
  .about__img
    img(src="./i/crown.png", alt="").about__crown.hide-for-xlarge
    img(src="./i/marina.png", alt="Марина").about__marina
    img(src="./i/flower.png", alt="Цветок").about__flower.show-for-xlarge
  .about__content
    p: strong Привет!

    p Меня зовут Марина и я организовала весь этот проект. Возможно, вам может показаться, что все это слишком хорошо звучит и здесь есть какой-то подвох. Поэтому, я расскажу вам, почему я все это делаю и как все это началось.

    p Я читала множество информации по безопасности веганского питания и часто натыкалась на опасения о том, что на веганстве легко заработать дефицит B12. И даже читала о том, что у многих веганов он есть. И я прекрасно понимала почему — найти релевантную информацию о нем и приеме не так-то просто. Тогда я начала образовывать себя и людей на этот счет. Но я все равно видела, что не все люди начинают покупать витамин. И знаете, какая оказалась следующая проблема? Недостаток денег.

    p Люди и рады бы пить B12, но его покупку просто не могут потянуть. Тогда я стала помогать. Сначала это были мои личные деньги, потом понеслось. Доходы с рекламы, с реферальных программ, пожертвования аудитории — все это пошло в дело.

    p Если я хоть чуточку улучшила ситуацию с веганским здоровьем в этом мире, то, я считаю, все это не зря. И мне нисколько не жаль все эти доходы потратить на тех, кому повезло меньше, чем мне.
