section.about#about
  div
    h2 Условия участия
    .about__points
      img(src="./images/leaves.svg", alt="Листочки")
      p Вы веган или веганка
      img(src="./images/allowed-age.svg", alt="0+")
      p Вы не можете оплатить витамин самостоятельно
      img(src="./images/wallet.svg", alt="Кошелёк")
      p Вы согласны откладывать деньги на покупку витамина в будущем (на свой счёт или в копилку)
  div.about__count-info
    h2 Скольким мы помогли
    .about__count-wrapper
      p.about__count 195
      img(src="./images/ball.png", alt="Шарик 1").about__ball
      img(src="./images/ball.png", alt="Шарик 2").about__second-ball
      img(src="./images/wave-line.png", alt="Шарик 2").about__wave-line
    .about__month-count Май: заявки открыты


