section#about.about
  .about__container
    h2.about__title &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &ucy;&chcy;&acy;&scy;&tcy;&icy;&yacy;
    .about__inner
      .about__content
        .about__points
          img.about__points-img-Big(src='./images/leaves.svg', alt='leaves')
          img.about__points-img-Small(src='./images/leavesS.svg', alt='leaves')
          p &Vcy;&ycy; &vcy;&iecy;&gcy;&acy;&ncy; &icy;&lcy;&icy; &vcy;&iecy;&gcy;&acy;&ncy;&kcy;&acy;
          img.about__points-img-Big(src='./images/0+.svg', alt='0+')
          img.about__points-img-Small(src='./images/0+S.svg', alt='0+')
          p &Vcy;&ycy; &ncy;&iecy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &ocy;&pcy;&lcy;&acy;&tcy;&icy;&tcy;&softcy; &vcy;&icy;&tcy;&acy;&mcy;&icy;&ncy; &scy;&acy;&mcy;&ocy;&scy;&tcy;&ocy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;
          img.about__points-img-Big(src='./images/wallet.svg', alt='wallet')
          img.about__points-img-Small(src='./images/walletS.svg', alt='wallet')
          p
            | Вы согласны&nbsp;откладывать<br>деньги&nbsp;на&nbsp;покупку&nbsp;витамина в будущем (на свой счёт или<br>в копилку)
      .about__count
        .about__count-info
          h4.info &Mcy;&ycy; &pcy;&ocy;&mcy;&ocy;&gcy;&lcy;&icy;
          .about__count-data
            p.about__count-sum 202
            .about__img
              span.leaf61
              span.leaf62
              span.ball53
              span.ball51
              span.ball54
              span.fl72
              span.fl73
          h4.info &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&mcy;
        a.about__application.about__application-text(href='form.html')
          | &Acy;&vcy;&gcy;&ucy;&scy;&tcy;: &pcy;&rcy;&icy;&ncy;&icy;&mcy;&acy;&iecy;&mcy; &zcy;&acy;&yacy;&vcy;&kcy;&icy;
