section.attention
  .container__attention
    .attention__inner
      span.leaf610
      span.leaf611
      .attention__info
        p
          | &Icy;&zcy;-&zcy;&acy; &ncy;&iecy;&scy;&tcy;&acy;&bcy;&icy;&lcy;&softcy;&ncy;&ocy;&jcy; &scy;&icy;&tcy;&ucy;&acy;&tscy;&icy;&icy; &vcy; &mcy;&icy;&rcy;&iecy;, &mcy;&ycy; &pcy;&ocy;&lcy;&acy;&gcy;&acy;&iecy;&mcy;&scy;&yacy; &ncy;&acy; &ncy;&iecy;&scy;&kcy;&ocy;&lcy;&softcy;&kcy;&ocy;
          | &rcy;&acy;&zcy;&ncy;&ycy;&khcy; &vcy;&icy;&dcy;&ocy;&vcy; B12. &Ecy;&tcy;&ocy; 
          a.text-link(href='https://veganrussian.ru/vitamin-b12-natrol-5000-mkg-100/', target='_blank')
            | Natrol
          |                   &icy; 
          a.text-link(href='https://veganrussian.ru/vitamin-b12-1-mg-betax/', target='_blank')
            | Betax
          | . &Kcy;&acy;&kcy;&ucy;&yucy; &icy;&mcy;&iecy;&ncy;&ncy;&ocy; &dcy;&ocy;&bcy;&acy;&vcy;&kcy;&ucy; &vcy;&ycy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &ndash; &ncy;&iecy;&icy;&zcy;&vcy;&iecy;&scy;&tcy;&ncy;&ocy;, &ecy;&tcy;&ocy; &bcy;&ucy;&dcy;&iecy;&tcy;
          |                   &zcy;&acy;&vcy;&icy;&scy;&iecy;&tcy;&softcy; &ocy;&tcy; &scy;&icy;&tcy;&ucy;&acy;&tscy;&icy;&icy; &vcy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&acy;&khcy;. &Ncy;&acy;&shcy; &lcy;&ucy;&chcy;&shcy;&icy;&jcy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;
          |                   &mcy;&ocy;&zhcy;&ncy;&ocy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&softcy; 2 &gcy;&ocy;&dcy;&acy;! &Vcy;&ycy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&iecy; &vcy;&scy;&iecy; &icy;&ncy;&scy;&tcy;&rcy;&ucy;&kcy;&tscy;&icy;&icy; &pcy;&rcy;&icy;
          |                   &ocy;&bcy;&rcy;&acy;&shchcy;&iecy;&ncy;&icy;&icy;.
