section.attention
  p Из-за нестабильной ситуации в мире, мы полагаемся на несколько разных видов B12. Это <a href="https://veganrussian.ru/vitamin-b12-natrol-5000-mkg-100/" class="text-link" traget="_blank">Natrol</a> и <a href="https://veganrussian.ru/vitamin-b12-1-mg-betax/" class="text-link" traget="_blank">Betax</a>. Какую именно добавку вы получите – неизвестно, это будет зависеть от ситуации в онлайн-магазинах. Наш лучший вариант можно использовать 2 года! Вы получите все инструкции при обращении.
  img(src="./images/decor.png", alt="Цветок и листочки")
