section.attention
  .container__attention
    .attention__inner
      span.leaf610
      span.leaf611
      .attention__info
        p
          | Из-за нестабильной ситуации в мире, мы полагаемся на несколько разных видов B12. Это 
          a.text-link(href='https://veganrussian.ru/vitamin-b12-natrol-5000-mkg-100/', target='_blank')
            | Natrol
          |                   и 
          a.text-link(href='https://veganrussian.ru/vitamin-b12-1-mg-betax/', target='_blank')
            | Betax
          | . Какую именно добавку вы получите – неизвестно, это будет зависеть от ситуации в онлайн-магазинах. Наш лучший вариант можно использовать 2 года! Вы получите все инструкции при обращении.
