-
  var items = [
    {src: "./i/audience/a2.png", text: "Обычно это школьницы, студенты, молодые специалистки, которые еще не имеют возможности зарабатывать достаточно денег. Но не обязательно"},
    {src: "./i/audience/a3.png", text: "Ваш возраст для нас и транспортных компаний практически не имеет значения. Мы помогали персонам и 13 лет"},
    {src: "./i/audience/a4.png", text: "Участвующие должны быть согласны откладывать средства на покупку витамина в будущем"},
    {src: "./i/audience/a5.png", text: "На самом деле, мы помогаем всем веганам_кам, которые к нам обращаются"},
  ]


.sect.grid-container
  .grid-x
    .cell.large-10#to-whom
      .audience
        h2 Кому мы помогаем:
        ul.audience__list
          li.punkt.audience__item
              .punkt__icon
                img(src="./i/audience/a1.png", alt="")
              p.punkt__text.punkt__text_centered Веганки и веганы
          each item in items
            li.punkt.audience__item
              .punkt__icon
                img(src=item.src, alt="")
              p.punkt__text= item.text
    .cell.large-11.large-offset-3#how-many
      .total
        h2 Скольким мы помогли
        .total__number-wrap
          .total__number
            .total__count 42
            .total__sub персонам
        a(href="https://www.instagram.com/vegan.russian/").button Подать заявку
