section.details#details
  div.details__part
    h2.details__title Продукты,
      br
      | обогащенные B12
    p.details__description Можно полагаться на получение B12 из обогащённой пищи или зубной пасты список таких продуктов – по ссылке.
    a(href="/products.html").button Список
  div.details__part
    h2.details__title Наше
      br
      | финансирование
    p.details__description Для оплаты B12 для нуждающихся мы используем пожертвования, реферальные программы и продажу рекламы.
    a(href="https://veganrussian.ru/promo-codes/" target="_blank").button Промо-коды
