section#details.details
  .container
    .details__inner
      .details__leafs-before
        span.leaf612
        span.leaf613
        span.leaf614
        span.leaf616
      .details__left
        h4.details__title
          | Продукты,  
          br
          |                   обогащенные B12
        p.details__text
          | Можно полагаться на получение B12 из обогащённой пищи или зубной пасты. Мы собрали лист таких продуктов.
        a(href='products.html#products-table')
          button.details__btn Список
      .details__leafs
        span.leaf13
        span.leaf66
        span.leaf14
        span.leaf18
      .details__right
        h4.details__title
          | Наше  
          br
          |                   финансирование
        p.details__text
          | Для оплаты B12 для нуждающихся мы используем&nbsp;пожертвования,&nbsp;реферальные программы и продажу рекламы.
        a(href='https://veganrussian.ru/promo-codes/', target='_blank')
          button.details__btn Промо-коды
