section#details.details
  .container
    .details__inner
      .details__leafs-before
        span.leaf612
        span.leaf613
        span.leaf614
        span.leaf616
      .details__left
        h4.details__title
          | &Pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;, 
          br
          |                   &ocy;&bcy;&ocy;&gcy;&acy;&shchcy;&iecy;&ncy;&ncy;&ycy;&iecy; B12
        p.details__text
          | &Mcy;&ocy;&zhcy;&ncy;&ocy; &pcy;&ocy;&lcy;&acy;&gcy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &pcy;&ocy;&lcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy; B12 &icy;&zcy; &ocy;&bcy;&ocy;&gcy;&acy;&shchcy;&iocy;&ncy;&ncy;&ocy;&jcy; &pcy;&icy;&shchcy;&icy; &icy;&lcy;&icy;
          | &zcy;&ucy;&bcy;&ncy;&ocy;&jcy; &pcy;&acy;&scy;&tcy;&ycy;. &Mcy;&ycy; &scy;&ocy;&bcy;&rcy;&acy;&lcy;&icy; &lcy;&icy;&scy;&tcy; &tcy;&acy;&kcy;&icy;&khcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;.
        a(href='products.html#products-table')
          button.details__btn &Scy;&pcy;&icy;&scy;&ocy;&kcy;
      .details__leafs
        span.leaf13
        span.leaf66
        span.leaf14
        span.leaf18
      .details__right
        h4.details__title
          | &Ncy;&acy;&shcy;&iecy; 
          br
          |                   &fcy;&icy;&ncy;&acy;&ncy;&scy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
        p.details__text
          | &Dcy;&lcy;&yacy; &ocy;&pcy;&lcy;&acy;&tcy;&ycy; B12 &dcy;&lcy;&yacy; &ncy;&ucy;&zhcy;&dcy;&acy;&yucy;&shchcy;&icy;&khcy;&scy;&yacy; &mcy;&ycy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&iecy;&mcy; &pcy;&ocy;&zhcy;&iecy;&rcy;&tcy;&vcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;,
          | &rcy;&iecy;&fcy;&iecy;&rcy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; &icy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&ucy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ycy;.
        a(href='https://veganrussian.ru/promo-codes/', target='_blank')
          button.details__btn &Pcy;&rcy;&ocy;&mcy;&ocy;-&kcy;&ocy;&dcy;&ycy;
