footer.footer
  .container
    .footer__inner
      a.footer__logo(href='index.html#header')
        img(src='./images/footer-logo.svg' alt='vegan__logo')
      .footer__main
        .footer__column
          p
            | Авторка идеи, фандрайзерка, менеджерка продукта 
            span Марина Ястремская
          p
            | Разработка 
            span
              | Эдик Гизбрехт; Марина Мороз;
              br
              | Юлия Богданова
          p
            | Тестирование  
            span
              | Александра Газарова;
        .footer__column
          p
            | Дизайн 
            span Дарья Журина; Маргарита Хайбрахманова
          p
            | Редактура 
            span Дарья Ларина
      .footer__copy
        p &copy; 2021-2023