footer.footer
  .footer__logo
    a(href="https://veganrussian.ru/"): img(src="./images/vr-logo.svg", alt="Логотип Веганрашн")
  ul.footer__team
    li.footer__link: a(href="https://t.me/lefhl" target="_blank") Разработка Эдик Гизбрехт
    li.footer__link: a(href="#" target="_blank") Дизайн Дарья Журина
    li.footer__link: a(href="#" target="_blank") Редактура Дарья Ларина
  .footer__year © 2021-2022
