footer.footer
  .footer__item.footer__item_logo.medium-order-2
    img(src="./i/logo-vr.png", alt="Логотип Vegan Russian")
  .footer__item.footer__item_inst.medium-order-1
    a(href="https://www.instagram.com/vegan.russian/" target="_black" title="Перейти в аккаунт").footer__author
      img(src="./i/inst.png", alt="Логотип Instagram").footer__icon
      | @vegan.russian
  .footer__item.footer__item_inst.medium-order-3
    a(href="https://www.instagram.com/d.zine1/" target="_black" title="Перейти в аккаунт").footer__author
      img(src="./i/inst.png", alt="Логотип Instagram").footer__icon
      | Дизайн @d.zine1
  .footer__item.medium-order-4
    a(href="https://vk.com/id416854297" target="_black" title="Перейти в аккаунт").footer__author Разработка Эдик Гизбрехт
  .show-for-large 2021
