.main
  .inner
    script(src='https://yastatic.net/s3/frontend/forms/_/embed.js')
    iframe(src='https://forms.yandex.ru/cloud/634960b1d6b1020af58f53ca/?iframe=1', frameborder='0', name='ya-form-634960b1d6b1020af58f53ca', width='650')
