header#header.header
  .container
    .header__inner.header__main
      a.header__logo(href='#header')
        img(src='./././images/logo.svg', alt='logo')
      img.header__menu(src='./images/burger.svg', alt='menu')
    .header__mobile
      span.menu__close X
      nav.header__mobile-menu
        ul.header__mobile-list
          li.header__mobile-item
            a.header__mobile-link.menu-link(href='#about')
              | Условия участия
          li.header__mobile-item
            a.header__mobile-link.menu-link(href='#request')
              | КАК ПОДАТЬ ЗАЯВКУ
          li.header__mobile-item
            a.header__mobile-link(href='products.html#b12')
              | Продукты, обогащеные В12
          li.header__mobile-item
            a.header__mobile-link.menu-link(href='#details')
              | Финансирование
          li.header__mobile-item
            a.header__mobile-link.menu-link(href='#reviews')
              | ОТЗЫВЫ
