header#b12.header
  .container
    .header__inner.header__main
      a.header__logo(href='index.html#header')
        img(src='./images/logo.svg', alt='logo')
      .header__menu
        img(src='./images/burger.svg', alt='menu')
    .header__mobile
      span.menu__close X
      nav.header__mobile-menu
        ul.header__mobile-list
          li.header__mobile-item
            a.header__mobile-link(href='index.html#about')
              | Условия участия
          li.header__mobile-item
            a.header__mobile-link(href='index.html#request')
              | КАК ПОДАТЬ ЗАЯВКУ
          li.header__mobile-item
            a.header__mobile-link.menu-link(href='#products-table')
              | Продукты, обогащеные В12
          li.header__mobile-item
            a.header__mobile-link(href='index.html#details')
              | Финансирование
          li.header__mobile-item
            a.header__mobile-link(href='index.html#reviews')
              | ОТЗЫВЫ
