header.header
  a(href="/").header__link
    img(src="./images/logo.svg" width="68")
  .burger-menu
    button(type="button").burger-menu__button
      .burger-menu__line
      .burger-menu__line
      .burger-menu__line
    include _menu


