section.howto#howto
  h2.howto__title Как подать заявку
  .howto__main
    .howto__info
      p.howto__warning Возможно, вы можете купить B12 сами! Перед подачей заявки рассмотрите варианты приобретения:
      ul.howto__list
        li.howto__list-item Обратитесь к врачу и попросите выписать вам инъекции витамина B12, так как вы не употребляете животные продукты. Они стоят дешево, но иногда их сложно найти в аптеках. Курс инъекций можно проставить в поликлинике. Важно также постоянно отслеживать уровень витамина.

        li.howto__list-item Попробуйте оформить рассрочку на Ozon или Wildberries. Так вы сможете тратить лишь небольшую посильную сумму в месяц (около 150 рублей).

    div
      img(src="./images/marina.png", alt="Фотография Марины, создательницы проекта").howto__photo
      p.howto__reason Опишите Марине в сообщении ситуацию, из-за которой вы не можете купить B12 самостоятельно.
      a(href="https://t.me/marinaiastremskaia" target="_blank" rel="noopener noreferrer nofollow").button Подать заявку
