.how.grid-container
  h2#how Как мы это делаем
  .how__items
    .punkt.how__item
      .punkt__icon.punkt__icon_sm
        img(src="./i/how/h1.png", alt="")
      p.punkt__text Наши средства — ваши средства. Нам присылают пожертвования те, чья финансовая ситуация более устойчива 
    .punkt.how__item
      .punkt__icon.punkt__icon_sm
        img(src="./i/how/h2.png", alt="")
      p.punkt__text Также у нас есть реферальные программы в различных магазинах. Вы заказываете по нашим промо — мы получаем вознаграждения, и тратим их на этот проект

    .punkt.how__item
      .punkt__icon.punkt__icon_sm
        img(src="./i/how/h3.png", alt="")
      p.punkt__text Мы заказываем витамин Natrol B12,
        |
        |
        a(href="https://veganrussian.ru/vitamin-b12-natrol-5000-mkg-100/" target="_blank").punkt__link по нашим расчетам
        |, его хватает на 3 года и 10 месяцев. Он обходится нам в 700-1000 рублей в зависимости от магазина
    .punkt.how__item
      .punkt__icon.punkt__icon_sm
        img(src="./i/how/h4.png", alt="")
      p.punkt__text После короткого интервью мы оформляем на вас заказ с Ozon. Через несколько дней витамин будет ждать вас в пункте выдачи

  h2#help Как получить помощь
  .how__items
      .punkt.how__item
        .punkt__icon
          img(src="./i/help/help1.png", alt="")
        p.punkt__text Если вы согласны откладывать 30-50 рублей в месяц на будущий витамин, то напишите в инстаграм Vegan Russian историю о своей ситуации
      .punkt.how__item
        .punkt__icon
          img(src="./i/help/help2.png", alt="")
        p.punkt__text Мы прочитаем ваше сообщение и примем решение (в 99% случаев мы сразу готовы помочь)
      .punkt.how__item
        .punkt__icon
          img(src="./i/help/help3.png", alt="")
        p.punkt__text Для заказа с Ozon мы попросим у вас ФИ, номер телефона и адрес удобного пункта выдачи
      .punkt.how__item
        .punkt__icon
          img(src="./i/help/help4.png", alt="")
        p.punkt__text Вам останется только ждать посылку и создать накопительный счет в банке (или иной аналог "конверта")
  .text-center
    a(href="https://www.instagram.com/vegan.russian/").button.button_turquoise Подать заявку
