.intro.grid-container
  .grid-x.large-up-2
    .cell.xlarge-12.large-shrink.show-for-large
      .intro__img
        img(src="./i/arm.png", alt="Рука, подающая баночку с B-12")
    .cell.xlarge-12.large-auto
      h1 B12 — нуждающимся
      h3 Благотворительный проект Vegan Russian
      .intro__img.hide-for-large
        img(src="./i/arm.png", alt="Рука, подающая баночку с B-12")
      p Витамин B12 — единственный нутриент, который не содержится естественным образом в растительной пище. Поэтому, веганкам и веганам нужно принимать его дополнительно на постоянной основе.

      p Единовременная покупка этого витамина может сильно ударить по бюджету тех, кто ограничены в средствах. Некоторым из нас приходится попросту не покупать его, подвегая себя риску дефицита. Дефицит B12 опасен тем, что персона может навсегда потерять часть когнигнитивных способностей, ведь этот витамин ответственнен за нормальную работу нервной системы.

      p.zero-m Нам бы не хотелось, чтобы веганы и веганки зарабатывали себе этот дефицит. Поэтому мы и помогаем тем, кто нуждается в B12.
