aside.menu
  a(href="#about").menu__item.menu__item--triangled Условия участия
  a(href="#howto").menu__item Как подать заявку
  a(href="/products").menu__item Продукты обогащеные В12
  a(href="#details").menu__item Финансирование
  a(href="#reviews").menu__item Отзывы
