.participate#participate
  h2 Как помочь проекту
  h4 Использовать наши реферальные промо
  .participate__wrap
    .promo
      .promo__logo
        img(src="./i/ozon.png", alt="Промод на Озоне")
      button.button.button_promo.js-copy(data-copy="OZONI52825") OZONI52825
        span.button__promo_tip.js-tip Кликни, чтобы скопировать
    .promo
      .promo__logo
        img(src="./i/iherb.png", alt="Промокод на Айхёрбе")
      button.button.button_promo.js-copy(data-copy="BOJ9344") BOJ9344
        span.button__promo_tip.js-tip Кликни, чтобы скопировать
    .promo
      .promo__logo
        img(src="./i/4fresh.png", alt="Промокод на 4fresh")
      button.button.button_promo.js-copy(data-copy="FRT008") FRT008
        span.button__promo_tip.js-tip Кликни, чтобы скопировать
  h4.title Перевести на карту
  .participate__sber
    img(src="./i/sber.png", alt="Логотип Сбербанка").participate__sber-logo
    strong
      button.participate__sber-number.js-copy(data-copy="5336690150332072") 5336690150332072
        span.participate__sber-tip.js-tip Кликни, чтобы скопировать
      |
      |
      span.no-wrap Марина Олеговна Б.
