main.main
    section.products-main
        .products__container
            .products-main__inner
                h1.products-main__title
                    | Продукты, обогащенные B12
                .products-main__text
                    p.prod__leaf
                        | По этой таблице&nbsp;можно ориентироваться&nbsp;на&nbsp;продукты,&nbsp;в которых&nbsp;есть&nbsp;витамин&nbsp;B&nbsp;12.&nbsp;Чтобы высчитать,&nbsp;сколько&nbsp;витамина&nbsp;вы получаете из таких продуктов, используйте сайты Cronometer или Vegan Plan. Больше информации&nbsp;по&nbsp;В12:&nbsp;Веган&nbsp;FAQ&nbsp;по витамину B12.&nbsp;Для обновлений таблицы писать на 
                        a(href='mailto:hello@veganrussian.ru') hello@veganrussian.ru
                        | .
                    p.text__leaf
                        | Помните, что получение В12 из обогащённой пищи менее надежно,&nbsp;чем&nbsp;из&nbsp;добавок.&nbsp;В&nbsp;любом случае, сдавайте анализы раз в год.
    section#products-table.products-table
        .products__container
            .products-table__inner
                .products__table
                    h3.products__title.milk
                        | Молочка
                    .products__column-inner.prods
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Oddly Good
                                p
                                    | / 0,40 мкг
                            .prod
                                p
                                    | Растительное молоко Joya (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Rioba (разные вкусы)
                                p
                                    | / 0,38 мкг
                            .prod
                                p
                                    | Растительное молоко Orasi (разные вкусы)
                                p
                                    | / 0,38 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Zinus (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                            .prod
                                p
                                    | Растительное молоко Русская 
                                    br
                                    | союшка (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Hi (разные&nbsp;вкусы, см. упаковку)
                                p
                                    | / 0,15 мкг
                            .prod
                                p
                                    | Растительное молоко Valsoia (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Shoyce (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                            .prod.alpro
                                p
                                    | Растительное молоко Alpro (не рос. производство, не органик)
                                p
                                    | / 0,38 мкг
                        .products__row
                            .prod
                                p
                                    | Молоко для кофе Соя Green&nbsp;Milk
                                p
                                    | / 0,38 мкг
                            .prod
                                p
                                    | Растительное молоко Майями-Вега 
                                    br
                                    | (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко
                                    br
                                    | AdeZ
                                p
                                    | / 0,25 мкг
                            .prod
                                p
                                    | Растительное бариста молоко Green Idea
                                p
                                    | / 0,076 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Bite (разные вкусы, см. упаковку)
                                p
                                    | / 0,07 мкг
                            .prod
                                p
                                    | Растительное молоко
                                    br
                                    | Naala
                                p
                                    | / 0,15 мкг
                        .products__row
                            .prod
                                p
                                    | Растительное молоко Здоровое меню (разные вкусы, см. упаковку)
                                p
                                    | / 0,38 мкг
                            .prod
                                p
                                    | Овсяный йогурт nemoloko (разные вкусы, см. упаковку)
                                p
                                    | / 0,47 мкг
                        .products__row
                            .prod
                                p
                                    | Пудинг
                                    br
                                    | Green Idea
                                p
                                    | / 0,15 мкг
                            .prod
                                p
                                    | Сметана соевая
                                    br
                                    | 20% nemoloko
                                p
                                    | / 0,47 мкг
                        .products__row
                            .prod
                                p
                                    | Крем-чиз
                                    br
                                    | De Olio
                                p
                                    | / 0,15 мкг
                            .prod
                                p
                                    | Сыр со вкусом чеддер Nature&Moi
                                p
                                    | / 1,5 мкг
                        .products__row
                            .prod
                                p
                                    | Пармелайз
                                    br
                                    | Vegalize
                                p
                                    | / 0,5 кмг
                .products__table.herb
                    h3.products__title
                        | Полуфабрикаты
                    .products__column-inner
                        .products__row
                            .prod
                                p
                                    | Фрикадельки HiBalls
                                    br
                                    | Еда будущего
                                p
                                    | / 0,15 мкг
                            .prod
                                p
                                    | Пельмени с растительным фаршем HiPelly Еда будущего
                                p
                                    | / 0,15 мкг
                        .products__row
                            .prod
                                p
                                    | Котлеты для бургера 
                                    br
                                    | HiBurger Еда будущего
                                p
                                    | / 0,15 мкг
                            .prod
                                p
                                    | Наггетсы Higgets 
                                    br
                                    | Еда будущего
                                p
                                    | / 0,15 мкг
                .products__table.easy
                    h3.products__title
                        | Готовая еда
                    .products__column-inner
                        .products__row
                            .prod
                                p
                                    | Сухой завтрак
                                    br
                                    | Радужные колечки ОГО!
                                p
                                    | / 1,25 мкг
                            .prod
                                p
                                    | Макароны по-флотски с растительным мясом ВкусВилл
                                p
                                    | / 0,072 мкг
                        .products__row
                            .prod
                                p
                                    | Бургер с растительным
                                    br
                                    | мясом ВкусВилл
                                p
                                    | / 0,15 мкг
                            .prod
                                p
                                    | Сухая смесь Ризотто
                                    br
                                    | с грибами Easy Base
                                p
                                    | / ? мкг
                        .products__row
                            .prod
                                p
                                    | Бургер с растительным 
                                    br
                                    | мясом ВкусВилл
                                p
                                    | / ? мкг
                .products__table
                    h3.products__title.energy
                        | Энергетики
                    .products__column-inner
                        .products__row
                            .prod
                                p
                                    | Энергетик
                                    br
                                    | Gorilla
                                p
                                    | / 0,86 мкг
                            .prod
                                p
                                    | Энергетик
                                    br
                                    | Adrenaline rush
                                p
                                    | / 0,4 мкг
                        .products__row.leaf
                            .prod
                                p
                                    | Энергетик
                                    br
                                    | Bang
                                p
                                    | / 0,31 мкг
                            .prod
                                p
                                    | Энергетик
                                    br
                                    | Monster Energy
                                p
                                    | / 1,3 мкг
                        .products__row
                            .prod
                                p
                                    | Энергетик
                                    br
                                    | Drive Me
                                p
                                    | / 0,16 мкг
                            .prod
                                p
                                    | Энергетик Нефть (разные вкусы, см. упаковку)
                                p
                                    | / 0,16 мкг
                        .products__row
                            .prod
                                p
                                    | Энергетик Red Bull (разные вкусы, см. упаковку)
                                p
                                    | / 1,9 мкг
                            .prod
                                p
                                    | Энергетик E-ON (разные 
                                    br
                                    | вкусы, см. упаковку)
                                p
                                    | / 0,2 мкг
                        .products__row
                            .prod
                                p
                                    | Энергетик S.O.V.A. (разные 
                                    br
                                    | вкусы, см. упаковку)
                                p
                                    | / 0,16 мкг
                .products__table
                    h3.products__title.diferent
                        | Разное
                    .products__column-inner
                        .products__row
                            .prod
                                p
                                    | Дрожжи неактивные
                                    br
                                    | с B12 Nooch
                                p
                                    | / 44 мкг
                            .prod
                                p
                                    | Пищевые дрожжи
                                    br
                                    | Now Foods
                                p
                                    | / 14 мкг
                        .products__row
                            .prod
                                p
                                    | Колбаса Экстравюрст
                                    br
                                    | Самокат
                                p
                                    | / 0,7 мкг
                            .prod
                                p
                                    | Протеиновый батончик капучино Tekmar
                                p
                                    | / 0,75 мкг
                        .products__row
                            .prod
                                p
                                    | Зубная паста Изобилие Голодный Леший
                                p
                                    | / 19 мкг*
                            .prod
                                p
                                    | Зубная паста Vegan c витамином B12 Dentissimo
                                p
                                    | / ? мкг
                        .products__row
                            .prod
                                p.prod__desc
                                    | *В 1 г пасте (рекомендумое количество для 1 использования). Важно понимать, что он впитывается не на 100%. Производители советуют использовать пасту с В12 утром. А вечером другую для лучшего очищения.
    section.products__mobile
        .container__mobile
            .products__mobile-inner
                .products__mobile-block
                    ul.products__list
                        li.products__item
                            button.products__link(type='button')
                                .products__item-wrap
                                    span Молочка
                            ul.products__sub.hidden
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Oddly Good
                                    span.products__sub-value
                                        | / 0,40 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Joya (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Rioba (разные вкусы)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Orasi (разные вкусы)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Zinus (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Русская союшка (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Hi (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Valsoia (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Shoyce (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Alpro (не рос. производство, не органик)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Молоко для кофе Соя Green Milk
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Майями-Вега (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко AdeZ
                                    span.products__sub-value
                                        | / 0,25 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное бариста молоко Green Idea
                                    span.products__sub-value
                                        | / 0,076 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Bite (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,07 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Naala
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Растительное молоко Здоровое меню (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,38 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Овсяный йогурт nemoloko (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,47 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Пудинг Green Idea
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Сметана соевая 20% nemoloko
                                    span.products__sub-value
                                        | / 0,47 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Крем-чиз De Olio
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Сыр со вкусом чеддер Nature&Moi
                                    span.products__sub-value
                                        | / 1,5 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Пармелайз Vegalize
                                    span.products__sub-value
                                        | / 0,5 мкг
                        li.products__item
                            button.products__link(type='button')
                                .products__item-wrap
                                    span Полуфабрикаты
                            ul.products__sub.hidden
                                li.products__sub-item
                                    span.products__sub-name
                                        | Фрикадельки HiBalls Еда будущего
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Пельмени с растительным фаршем HiPelly Еда будущего
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Котлеты для бургера HiBurger Еда будущего
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Наггетсы Higgets Еда будущего
                                    span.products__sub-value
                                        | / 0,15 мкг
                        li.products__item
                            button.products__link(type='button')
                                .products__item-wrap
                                    span Готовая еда
                            ul.products__sub.hidden
                                li.products__sub-item
                                    span.products__sub-name
                                        | Сухой завтрак Радужные колечки ОГО!
                                    span.products__sub-value
                                        | / 1,25 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Макароны по-флотски с растительным мясом ВкусВилл
                                    span.products__sub-value
                                        | / 0,072 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Бургер с растительным мясом ВкусВилл
                                    span.products__sub-value
                                        | / 0,15 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Сухая смесь Ризотто с грибами Easy Base
                                    span.products__sub-value
                                        | / ? мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Бургер с растительным мясом ВкусВилл
                                    span.products__sub-value
                                        | / ? мкг
                        li.products__item
                            button.products__link(type='button')
                                .products__item-wrap
                                    span Энергетики
                            ul.products__sub.hidden
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Gorilla
                                    span.products__sub-value
                                        | / 0,86 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Adrenaline rush
                                    span.products__sub-value
                                        | / 0,4 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Bang
                                    span.products__sub-value
                                        | / 0,31 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Monster Energy
                                    span.products__sub-value
                                        | / 1,3 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Drive Me
                                    span.products__sub-value
                                        | / 0,16 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Нефть (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,16 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик Red Bull (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 1,9 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик E-ON (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,2 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Энергетик S.O.V.A. (разные вкусы, см. упаковку)
                                    span.products__sub-value
                                        | / 0,16 мкг
                        li.products__item
                            button.products__link(type='button')
                                .products__item-wrap
                                    span Разное
                            ul.products__sub.hidden
                                li.products__sub-item
                                    span.products__sub-name
                                        | Дрожжи неактивные с B12 Nooch
                                    span.products__sub-value
                                        | / 44 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Пищевые дрожжи Now Foods
                                    span.products__sub-value
                                        | / 14 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Колбаса Экстравюрст Самокат
                                    span.products__sub-value
                                        | / 0,7 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Протеиновый батончик капучино Tekmar
                                    span.products__sub-value
                                        | / 0,75 мкг
                                li.products__sub-item
                                    span.products__sub-name
                                        | Зубная паста Изобилие Голодный Леший
                                    span.products__sub-value
                                        | / 19 мкг*
                                li.products__sub-item
                                    span.products__sub-name
                                        | убная паста Vegan c витамином B12 Dentissimo
                                    span.products__sub-value
                                        | / ? мкг
                                li.products__sub-item
                                    span.products__sub-name.products__sub-desc
                                        | *В 1 г пасте (рекомендумое количество для 1 использования). Важно понимать, что он впитывается не на 100%. Производители советуют использовать пасту с В12 утром. А вечером другую для лучшего очищения.
