section.promo
  img(src="./images/helping-hand.png").promo__image
  .promo__content
    h1.promo__title B12 – нуждающимся
    h3.promo__subtitle Благотворительный проект
      br
      | Vegan Russian
    p.promo__description Витамин B12 — единственный нутриент, который не содержится естественным образом в растительной пище. Поэтому, веганкам и веганам <a href="https://veganrussian.ru/b12-for-vegans-faq/" class="text-link" target="_blank">нужно принимать</a> его дополнительно на постоянной основе.
    a(href="https://t.me/marinaiastremskaia" target="_blank" rel="noopener noreferrer nofollow").button Подать заявку

