section.promo
  .promo__container
    .promo__inner
      .promo__content
        h1.promo__title B12 – нуждающимся
        h4.promo__subtitle
          | Благотворительный проект 
          br
          | Vegan Russian
        .promo__text
          p.first
            | Витамин B12 — единственный нутриент, который не содержится естественным образом в растительной пище. Поэтому веганкам и веганам нужно принимать его дополнительно на постоянной основе.
          p.second
            | Мы помогаем тем, кому не хватает средств на покупку добавки.
        a(href='https://veganrussian.notion.site/15e344a2031a8054bc13ffbbd6fb3aa0')
          button.promo__btn
            p.promo__btn-text Подать заявку
      .promo__leafs
        span.leaf16
        span.leaf68
        span.leaf65
        span.leaf12
        span.leaf63
        span.leaf6-2
      .promo__img
        span.promo-jar
        span.promo-flower  
