section#request.request
  .container__request
    .request__inner
      h3.request__title &Kcy;&acy;&kcy; &pcy;&ocy;&dcy;&acy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
      .request__info
        .request__column.request__column-first
          p
            | &Vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;, &vcy;&ycy; &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; B12 &scy;&acy;&mcy;&icy;! &Pcy;&iecy;&rcy;&iecy;&dcy; &pcy;&ocy;&dcy;&acy;&chcy;&iecy;&jcy; &zcy;&acy;&yacy;&vcy;&kcy;&icy;
            | &rcy;&acy;&scy;&scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ycy; &pcy;&rcy;&icy;&ocy;&bcy;&rcy;&iecy;&tcy;&iecy;&ncy;&icy;&yacy;
          p
            | &Ocy;&bcy;&rcy;&acy;&tcy;&icy;&tcy;&iecy;&scy;&softcy; &kcy; &vcy;&rcy;&acy;&chcy;&ucy;, &pcy;&ocy;&pcy;&rcy;&ocy;&scy;&icy;&tcy;&iecy; &vcy;&ycy;&pcy;&icy;&scy;&acy;&tcy;&softcy; &vcy;&acy;&mcy; &icy;&ncy;&hardcy;&iecy;&kcy;&tscy;&icy;&icy; &vcy;&icy;&tcy;&acy;&mcy;&icy;&ncy;&acy;
            | B12, &tcy;.&kcy;. &vcy;&ycy; &ncy;&iecy; &ucy;&pcy;&ocy;&tcy;&rcy;&iecy;&bcy;&lcy;&yacy;&iecy;&tcy;&iecy; &pcy;&zhcy;&pcy;. &Ocy;&ncy;&icy; &scy;&tcy;&ocy;&yacy;&tcy; &dcy;&iecy;&shcy;&iecy;&vcy;&ocy;, &ncy;&ocy;
            | &icy;&ncy;&ocy;&gcy;&dcy;&acy; &icy;&khcy; &scy;&lcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&acy;&jcy;&tcy;&icy; &vcy; &acy;&pcy;&tcy;&iecy;&kcy;&acy;&khcy;. &Kcy;&ucy;&rcy;&scy; &icy;&ncy;&hardcy;&iecy;&kcy;&tscy;&icy;&jcy; &mcy;&ocy;&zhcy;&ncy;&ocy;
            | &pcy;&rcy;&ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &vcy; &pcy;&ocy;&lcy;&icy;&kcy;&lcy;&icy;&ncy;&icy;&kcy;&iecy;. &Vcy;&acy;&zhcy;&ncy;&ocy; &tcy;&acy;&kcy;&zhcy;&iecy; &pcy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&ncy;&ocy; &ocy;&tcy;&scy;&lcy;&iecy;&zhcy;&icy;&vcy;&acy;&tcy;&softcy;
            | &ucy;&rcy;&ocy;&vcy;&iecy;&ncy;&softcy; &vcy;&icy;&tcy;&acy;&mcy;&icy;&ncy;&acy;.
        .request__column.request__column-last
          p
            | &Pcy;&ocy;&pcy;&rcy;&ocy;&bcy;&ucy;&jcy;&tcy;&iecy; &ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy; &rcy;&acy;&scy;&scy;&rcy;&ocy;&chcy;&kcy;&ucy; &ncy;&acy; Ozon &icy;&lcy;&icy; Wildberries. &Tcy;&acy;&kcy;
            | &vcy;&ycy; &scy;&mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &tcy;&rcy;&acy;&tcy;&icy;&tcy;&softcy; &lcy;&icy;&shcy;&softcy; &ncy;&iecy;&bcy;&ocy;&lcy;&softcy;&shcy;&ucy;&yucy; &pcy;&ocy;&scy;&icy;&lcy;&softcy;&ncy;&ucy;&yucy; &scy;&ucy;&mcy;&mcy;&ucy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy;
            | (&ocy;&kcy;&ocy;&lcy;&ocy; 150 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;).
          p
            | &Ocy;&pcy;&icy;&shcy;&icy;&tcy;&iecy; &Mcy;&acy;&rcy;&icy;&ncy;&iecy; &vcy; &scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&ncy;&icy;&icy; &scy;&icy;&tcy;&ucy;&acy;&tscy;&icy;&yucy;, &icy;&zcy;-&zcy;&acy; &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&jcy; &vcy;&ycy; &ncy;&iecy;
            | &mcy;&ocy;&zhcy;&iecy;&tcy;&iecy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; B12 &scy;&acy;&mcy;&ocy;&scy;&tcy;&ocy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;.
          a(href='form.html')
            button.request__btn.my-btn &Pcy;&ocy;&dcy;&acy;&tcy;&softcy; &zcy;&acy;&yacy;&vcy;&kcy;&ucy;
