section.reviews#reviews
  h2.reviews__title Отзывы
  .reviews__slider
    .swiper
      .swiper-wrapper
        .swiper-slide
          .reviews__slide
            .reviews__name Нелли
            p У меня не было возможности купить себе В12, я часто чувствовала усталость и быстро утомлялась, написала с просьбой о витаминах и мне их отправили, теперь принимаю В12 еженедельно, моё самочувствие улучшилось и анализы крови нормализовались
        .swiper-slide
          .reviews__slide
            .reviews__name Луиза
            p у меня тоже не было возможности приобрести б12, очень благодарна veganrussian что откликнулись и помогли, состояние стало значительно лучше, также благодаря ним подробнее узнала о всех нюансах по поводу этого витамина, в общем большое спасибо вам
        .swiper-slide
          .reviews__slide
            .reviews__name Varyasvoiprodukt
            p всем привет! мне веган рашн подарили витамины В12 которые мне действительно помогают добирать тот самый витамин от недостатка которого сил на какие-либо дела вообще нет( но благодаря Марине и ее великолепной команде, которые выручают в трудных ситуациях—я перестала беспокоиться об отсутствии в моем организме полезного вещества—как В12! спасибо Вам огромное.
        .swiper-slide
          .reviews__slide
            .reviews__name Almysya👄🧚‍♀️🐽🦙
            p благодарю всю команду veganrussian за витаминки✨💖чуть больше года назад вы мне отправили их, моё самочувствие значительно улучшилось 💘💚спасиибочки
        .swiper-slide
          .reviews__slide
            .reviews__name Нелли
            p У меня не было возможности купить себе В12, я часто чувствовала усталость и быстро утомлялась, написала с просьбой о витаминах и мне их отправили, теперь принимаю В12 еженедельно, моё самочувствие улучшилось и анализы крови нормализовались

    button(type="button" title="Переключить на предыдущий слайд").swiper-button-prev: img(src="/images/arrow-left.svg", alt="стрелка налево")
    button(type="button" title="Переключить на следующий слайд").swiper-button-next: img(src="/images/arrow-right.svg", alt="стрелка направо")


