section#reviews.reviews
  .container.container__inner
    .reviews__inner
      h3.reviews__title &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
      .reviews__slider.swiper
        .swiper-wrapper
          .reviews__text.swiper-slide
            p
              | &Ucy;&nbsp;&mcy;&iecy;&ncy;&yacy; &ncy;&iecy;&nbsp;&bcy;&ycy;&lcy;&ocy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&icy; &kcy;&ucy;&pcy;&icy;&tcy;&softcy; &scy;&iecy;&bcy;&iecy; &Vcy;12, &yacy;&nbsp;&chcy;&acy;&scy;&tcy;&ocy;
              | &chcy;&ucy;&vcy;&scy;&tcy;&vcy;&ocy;&vcy;&acy;&lcy;&acy;&nbsp;&ucy;&scy;&tcy;&acy;&lcy;&ocy;&scy;&tcy;&softcy;&nbsp;&icy;
              br
              | &bcy;&ycy;&scy;&tcy;&rcy;&ocy; &ucy;&tcy;&ocy;&mcy;&lcy;&yacy;&lcy;&acy;&scy;&softcy;,
              |                       &ncy;&acy;&pcy;&icy;&scy;&acy;&lcy;&acy;&nbsp;&scy;
              br
              | &pcy;&rcy;&ocy;&scy;&softcy;&bcy;&ocy;&jcy; &ocy;&nbsp;&vcy;&icy;&tcy;&acy;&mcy;&icy;&ncy;&acy;&khcy; &icy;&nbsp;&mcy;&ncy;&iecy;&nbsp;&icy;&khcy; &ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&lcy;&icy;,
              |                       &tcy;&iecy;&pcy;&iecy;&rcy;&softcy; &pcy;&rcy;&icy;&ncy;&icy;&mcy;&acy;&yucy; &Vcy;12&nbsp;&iecy;&zhcy;&iecy;&ncy;&iecy;&dcy;&iecy;&lcy;&softcy;&ncy;&ocy;,&nbsp;&mcy;&ocy;&iocy;
              br
              | &scy;&acy;&mcy;&ocy;&chcy;&ucy;&vcy;&scy;&tcy;&vcy;&icy;&iecy;
              |                       &ucy;&lcy;&ucy;&chcy;&shcy;&icy;&lcy;&ocy;&scy;&softcy; &icy;&nbsp;&acy;&ncy;&acy;&lcy;&icy;&zcy;&ycy; &kcy;&rcy;&ocy;&vcy;&icy; &ncy;&ocy;&rcy;&mcy;&acy;&lcy;&icy;&zcy;&ocy;&vcy;&acy;&lcy;&icy;&scy;&softcy;
            .reviews__author.author
              p &Ncy;&iecy;&lcy;&lcy;&icy;
          .reviews__text.swiper-slide
            p
              | &Ucy;&nbsp;&mcy;&iecy;&ncy;&yacy; &ncy;&iecy;&nbsp;&bcy;&ycy;&lcy;&ocy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&icy; &pcy;&rcy;&icy;&ocy;&bcy;&rcy;&iecy;&scy;&tcy;&icy;&nbsp;&bcy;12, &ocy;&chcy;&iecy;&ncy;&softcy;
              | &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&ncy;&acy; veganrussian &chcy;&tcy;&ocy;&nbsp;&ocy;&tcy;&kcy;&lcy;&icy;&kcy;&ncy;&ucy;&lcy;&icy;&scy;&softcy; &icy;&nbsp;&pcy;&ocy;&mcy;&ocy;&gcy;&lcy;&icy;,
              | &scy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&icy;&iecy; &scy;&tcy;&acy;&lcy;&ocy; &zcy;&ncy;&acy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &lcy;&ucy;&chcy;&shcy;&iecy;, &tcy;&acy;&kcy;&zhcy;&iecy;&nbsp;&bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy;
              | &ncy;&icy;&mcy;&nbsp;&pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy; &ucy;&zcy;&ncy;&acy;&lcy;&acy; &ocy;&nbsp;&vcy;&scy;&iecy;&khcy; &ncy;&yucy;&acy;&ncy;&scy;&acy;&khcy; &pcy;&ocy;&nbsp;&pcy;&ocy;&vcy;&ocy;&dcy;&ucy; &ecy;&tcy;&ocy;&gcy;&ocy;
              | &vcy;&icy;&tcy;&acy;&mcy;&icy;&ncy;&acy;, &vcy;&nbsp;&ocy;&bcy;&shchcy;&iecy;&mcy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&iecy; &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;&nbsp;&vcy;&acy;&mcy;
            .reviews__author.author__two
              p &Lcy;&ucy;&icy;&zcy;&acy;
          .swiper-slide.big
            .reviews__text.reviews__text-b
              p
                | &Vcy;&scy;&iecy;&nbsp;&scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy; &ucy;&khcy;&ocy;&dcy;&yacy;&tcy; &ncy;&acy;&nbsp;&ocy;&pcy;&lcy;&acy;&tcy;&ucy; &ucy;&chcy;&iocy;&bcy;&ycy;, &rcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&yucy;&tcy;
                | &scy;&nbsp;&pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&ocy;&jcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ocy;&vcy;, &ncy;&ocy;&nbsp;&ncy;&acy;&ocy;&tcy;&rcy;&iecy;&zcy; &ocy;&tcy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&yucy;&tcy;&scy;&yacy; &vcy;&kcy;&lcy;&acy;&dcy;&ycy;&vcy;&acy;&tcy;&softcy;
                | &icy;&mcy;&iecy;&ncy;&ncy;&ocy; &vcy;&nbsp;&mcy;&ocy;&iocy;&nbsp;&zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&softcy;&iecy;, &tcy;&acy;&kcy;&nbsp;&kcy;&acy;&kcy;&nbsp;&scy;&chcy;&icy;&tcy;&acy;&yucy;&tcy;, &chcy;&tcy;&ocy;&nbsp;&vcy;&scy;&iecy;&nbsp;&pcy;&rcy;&ocy;&bcy;&lcy;&iecy;&mcy;&ycy;
                | &scy;&nbsp;&ncy;&icy;&mcy;&nbsp;&icy;&zcy;-&zcy;&acy;&nbsp;&mcy;&ocy;&iecy;&gcy;&ocy; &pcy;&icy;&tcy;&acy;&ncy;&icy;&yacy;. &Mcy;&acy;&rcy;&icy;&ncy;&acy; &scy;&rcy;&acy;&zcy;&ucy;&nbsp;&zhcy;&iecy;&nbsp;&ocy;&tcy;&kcy;&lcy;&icy;&kcy;&ncy;&ucy;&lcy;&acy;&scy;&softcy;
                | &ncy;&acy;&nbsp;&mcy;&ocy;&yucy;&nbsp;&pcy;&rcy;&ocy;&scy;&softcy;&bcy;&ucy; &ocy;&nbsp;&pcy;&ocy;&mcy;&ocy;&shchcy;&icy; &icy;&nbsp;&bcy;&ucy;&kcy;&vcy;&acy;&lcy;&softcy;&ncy;&ocy; &ncy;&acy;&nbsp;&scy;&lcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&icy;&jcy; &dcy;&iecy;&ncy;&softcy;
                br
                |                         &vcy;&nbsp;&rcy;&ucy;&kcy;&acy;&khcy;&yacy;&nbsp;&dcy;&iecy;&rcy;&zhcy;&acy;&lcy;&acy; &bcy;&acy;&ncy;&ocy;&chcy;&kcy;&ucy; &zhcy;&icy;&zcy;&ncy;&iecy;&ncy;&ncy;&ocy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy;&gcy;&ocy; &vcy;&icy;&tcy;&acy;&mcy;&icy;&ncy;&acy;.
                |                         &Tcy;&iecy;&pcy;&iecy;&rcy;&softcy; &ucy;&nbsp;&mcy;&iecy;&ncy;&yacy; &bcy;&ucy;&dcy;&iecy;&tcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&icy;&vcy;&acy;&tcy;&softcy; &scy;&vcy;&ocy;&iocy;
                |                         &zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&softcy;&iecy;, &chcy;&tcy;&ocy;&bcy;&ycy;&nbsp;&ocy;&bcy;&ucy;&chcy;&acy;&tcy;&softcy;&scy;&yacy;, &rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &pcy;&ocy;&nbsp;&pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&icy;
                |                         &icy;&nbsp;&vcy;&nbsp;&dcy;&acy;&lcy;&softcy;&ncy;&iecy;&jcy;&shcy;&iecy;&mcy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&tcy;&softcy; &vcy;&iecy;&gcy;&acy;&ncy;&scy;&kcy;&icy;&mcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&acy;&mcy;. &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;!
              .reviews__author.b__author.author
                p Stacy Cher
        .reviews__btn.swiper-button-left
          img(src='./images/arrow-l.svg', alt='arrow left')
        .reviews__btn.swiper-button-right
          img(src='./images/arrow-rg.svg', alt='arrow right')
        .reviews__nav.mob-arr__left
          img(src='./images/mob-arr-left.svg', alt='arrow left')
        .reviews__nav.mob-arr__right
          img(src='./images/mob-arr-right.svg', alt='arrow right')
