section#reviews.reviews
  .container.container__inner
    .reviews__inner
      h3.reviews__title Отзывы
      .reviews__slider.swiper
        .swiper-wrapper
          .reviews__text.swiper-slide
            p
              | У меня не было возможности купить себе В12, я часто чувствовала&nbsp;усталость&nbsp;и
              br
              | быстро утомлялась, написала&nbsp;с
              br
              | просьбой о витаминах и мне их отправили, теперь принимаю В12 еженедельно,&nbsp;моё
              br
              | самочувствие улучшилось и анализы крови нормализовались
            .reviews__author.author
              p Нелли
          .reviews__text.swiper-slide
            p
              | У меня не было возможности приобрести б12, очень благодарна veganrussian, что откликнулись и помогли, состояние стало значительно лучше, также благодаря ним подробнее узнала о всех нюансах по поводу этого витамина, в общем большое спасибо вам
            .reviews__author.author__two
              p Луиза
          .swiper-slide.big
            .reviews__text.reviews__text-b
              p
                | Все средства уходят на оплату учёбы, родители помогают с покупкой продуктов, но наотрез отказываются вкладывать именно в моё здоровье, так как считают, что все проблемы с ним из-за моего питания. Марина сразу же откликнулась на мою просьбу о помощи и буквально на следующий день
                br
                | в руках я держала баночку жизненно необходимого витамина. Теперь у меня будет возможность поддерживать своё здоровье, чтобы обучаться, работать по профессии и в дальнейшем помогать веганским проектам. Спасибо!
              .reviews__author.b__author.author
                p Stacy Cher
        .reviews__btn.swiper-button-left
          img(src='./images/arrow-l.svg', alt='arrow left')
        .reviews__btn.swiper-button-right
          img(src='./images/arrow-rg.svg', alt='arrow right')
        .reviews__nav.mob-arr__left
          img(src='./images/mob-arr-left.svg', alt='arrow left')
        .reviews__nav.mob-arr__right
          img(src='./images/mob-arr-right.svg', alt='arrow right')
