.burger-menu {
    position: relative;

    &__button {
        width: 110px;
        height: 50px;
        background: linear-gradient(42.18deg, #79CFFF 34.47%, #5400DC 86.94%);
        box-shadow: 2px 2px 13px rgba(255, 255, 255, 0.34);
        border-radius: 17px;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 7px;
        outline: none;
        transition: box-shadow .3s ease;

        &:focus-visible,
        &:hover{
            box-shadow: 2px 2px 34px rgba(255, 255, 255, 0.55);
        }
    }

    &__line {
        width: 48px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 30px;
        transform-origin: 50% 50%;
        transition: transform .3s ease, opacity .3s ease;

        &:first-child {
            top: 13px;
        }
        &:nth-child(2) {
            top: 23px;
        }
        &:last-child {
            bottom: 13px;
        }

        .active & {
            &:first-child {
                top: calc(50% - 1.5px);
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: scaleX(0);
                pointer-events: none;
                opacity: 0;
            }
            &:last-child {
                top: calc(50% - 1.5px);
                transform: rotate(-45deg);
            }
        }
    }


    @include media('xs') {
        &__button {
            width: 84px;
            height: 41px;
        }

        &__line {
            left: 23px;
            width: 37px;
            &:first-child {
                top: 13px;
            }
            &:nth-child(2) {
                top: 20px;
            }

            &:last-child {
                bottom: 10.5px;
            }
        }


    }
}
