html,
body {
  min-height: 100%;
  overflow: overlay;
}

body::-webkit-scrollbar {
  background: inherit;
  height: 0.5rem;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #cdffff80;
  border-radius: 0.4rem;
  border: 0.1rem solid #cdffff;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #9e3cff;
}

body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #0d1288;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(2.65%, #5400dc),
      color-stop(11.11%, #9e3cff),
      color-stop(20.31%, #79cfff),
      color-stop(32.29%, #cdffff),
      color-stop(39.24%, #ffffff),
      color-stop(50%, #cdffff),
      color-stop(59.19%, #79cfff),
      color-stop(69.06%, #9e3cff),
      color-stop(86.98%, #5400dc)
    )
    no-repeat;
  background: -o-linear-gradient(
      top,
      #5400dc 2.65%,
      #9e3cff 11.11%,
      #79cfff 20.31%,
      #cdffff 32.29%,
      #ffffff 39.24%,
      #cdffff 50%,
      #79cfff 59.19%,
      #9e3cff 69.06%,
      #5400dc 86.98%
    )
    no-repeat;
  background: linear-gradient(
      180deg,
      #5400dc 2.65%,
      #9e3cff 11.11%,
      #79cfff 20.31%,
      #cdffff 32.29%,
      #ffffff 39.24%,
      #cdffff 50%,
      #79cfff 59.19%,
      #9e3cff 69.06%,
      #5400dc 86.98%
    )
    no-repeat;
}

.wrapper,
.wrapper-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.wrapper,
.wrapper-prod {
  position: relative;
  overflow: hidden;
}

.wrapper-prod {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(2.65%, #5400dc),
    color-stop(29.58%, #9e3cff),
    color-stop(74.69%, #9e3cff),
    color-stop(94.97%, #5400dc)
  );
  background: -o-linear-gradient(
    top,
    #5400dc 2.65%,
    #9e3cff 29.58%,
    #9e3cff 74.69%,
    #5400dc 94.97%
  );
  background: linear-gradient(
    180deg,
    #5400dc 2.65%,
    #9e3cff 29.58%,
    #9e3cff 74.69%,
    #5400dc 94.97%
  );
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container,
.container__attention,
.container__mobile,
.promo__container,
.about__container,
.container__request,
.products__container,
.inner {
  max-width: calc(333px + (1200 - 333) * ((100vw - 375px) / (1440 - 375)));
  margin: 0 auto;
  padding: 0 15px;
}

.container__mobile {
  padding: 0;
}

@media (min-width: 1441px) {
  .container,
  .container__attention,
  .promo__container,
  .about__container,
  .products__container {
    max-width: 1200px;
  }
}

@media (min-width: 1300px) {
  .container__request {
    max-width: 1200px;
  }
}

@media (max-width: 1165px) {
  .container__request {
    padding: 0;
  }
}

@media (max-width: 485px) {
  .products__container {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .container,
  .promo__container,
  .about__container {
    padding: 0 10px;
  }
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

iframe {
  margin: 50px auto;
}
