a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: inherit;
  text-decoration-skip-ink: none;

  &:active,
  &:focus,
  &:hover {
    // color: scale-color($secondary-color, $lightness: -30%);
    text-shadow: rem-calc(4 1 7) rgba(#fff, 0.36);
    color: inherit;
    text-decoration: underline;
  }
}

::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

::-ms-clear {
  display: none;
}

input,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: rem-calc(1) solid #cacaca;
  border-radius: 0.25rem;
  background-color: #fff;
  font-size: 1rem;
  font-weight: normal;
  color: $black;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
  box-shadow: none;
  line-height: normal;
  height: $global-input-height;

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

button {
  color: inherit;
  cursor: pointer;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.h1,
h1 {
  @include gradien-text;

  background-image: linear-gradient(155deg, #51e6ff 30.3%, #38d2ec 58.43%, #7553fe 80%, #7553fe 100%);
  font-size: rem-calc(56);
  // margin-bottom: rem-calc(26);
}

.h2,
h2 {
  font-size: rem-calc(32);
  margin-bottom: rem-calc(32);
}

.h3,
h3 {
  font-size: rem-calc(28);
  margin-bottom: rem-calc(25);
}

.h4,
h4 {
  font-size: rem-calc(26);
  margin-bottom: rem-calc(15);
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

.body {
  background-image: linear-gradient(180deg, #001343 0%, #380093 12.59%, #6603b5 24.05%, #23bdff 37.18%, #fefeff 43.66%, #fff 57.52%, #23bdff 64%, #6603b5 80.14%, #120943 96.66%);
  background-repeat: no-repeat;
}

.scroll-block {
  overflow: hidden;
  padding-right: rem-calc(17);
}

.text-center {
  text-align: center;
}

.zero-m {
  margin: 0;
}

.no-wrap {
  white-space: nowrap;
}

p {
  margin-bottom: rem-calc(30);
  line-height: 1.334;
}

ul {
  list-style-type: none;
  margin: 0;
}

@include breakpoint(large down) {
  .text-center-lg {
    text-align: center;
  }
}

@include breakpoint(medium down) {
  .body {
    background: linear-gradient(180deg, #001343 0%, #380093 9.97%, #6603b5 21.05%, #23bdff 39.06%, #fefeff 44.79%, #fff 62.19%, #23bdff 71.4%, #6603b5 84.9%, #120943 100%);
  }

  p {
    font-size: rem-calc(13);
    margin-bottom: rem-calc(20);
  }

  h1,
  .h1 {
    font-size: rem-calc(39);
    margin-bottom: rem-calc(16);
  }

  h2,
  .h2 {
    font-size: rem-calc(25);
    margin-bottom: rem-calc(25);
  }

  h3,
  .h3 {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(15);
  }

  h4,
  .h4 {
    line-height: 1.31;
    font-size: rem-calc(22);
  }

  .medium-order-1 {
    order: 1;
  }

  .medium-order-2 {
    order: 2;
  }

  .medium-order-3 {
    order: 3;
  }

  .medium-order-4 {
    order: 4;
  }
}
