.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 100px;
    color: #D9B3DC;
    font-size: 14px;
    padding-bottom: 60px;
    &__link {
        display: block;
        & + & {
            margin-top: 8px;
        }
        a:hover {
            text-decoration: underline;
        }
    }


    @include media('md') {
       grid-gap: 17px;
       grid-template-columns: auto auto auto;
       justify-content: space-between;
    }

    @include media('xs') {
        padding-bottom: 36px;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
}
