.header {
    padding-top: 37px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        outline: none;
        transition: box-shadow .3s ease;
        border-radius: 50%;
        &:focus-visible,
        &:hover {
            box-shadow: 2px 2px 34px rgba(255, 255, 255, 0.55);

        }
    }

    @include media('xs') {
        padding-top: 31px;
        padding-bottom: 33px;
        &__link {
            img {
                max-width: 41px;
            }
        }
    }
}
