.intro {
  color: #fff;
  margin-bottom: rem-calc(40);

  @include breakpoint(large down) {
    &__img {
      // display: flex;
      // align-items: center;
      // height: 100%;
      width: 40vw;
    }
  }

  @include breakpoint(medium down) {
    &__img {
      width: auto;
      margin-bottom: rem-calc(18);

      img {
        width: rem-calc(320);
      }
    }
  }
}
