.promo {
    @include two-parts-grid;
    color: #fff;
    margin-bottom: 45px;

    &__image {
        max-width: 480px;
    }

    &__subtitle {
        font-size: 30px;
        line-height: 1.33;
        margin-bottom: 41px;
        font-weight: 700;
    }

    &__description {
        margin-bottom: 39px;
    }

    @include media('md') {
        grid-template-columns: 1fr 1fr;


        &__image {
            justify-self: center;
            width: 100%;
        }


        &__title {
            order: -2;
        }
        &__subtitle {
            order: -1;
            font-size: 20px;
            margin-bottom: 27px;
        }
        &__description {
            font-size: 16px;
            line-height: 1.3125;
        }
    }

    @include media('sm') {
        grid-template-columns: 1fr;
        grid-gap: 0;
        &__content {
            display: contents;
        }
    }
}
