.punkt {
  display: flex;
  margin-bottom: rem-calc(23);

  &__icon {
    flex-shrink: 0;
    width: rem-calc(80);
  }

  &__text {
    margin: 0;

    &_centered {
      align-self: center;
    }
  }

  &__link {
    color: inherit;
    text-decoration: underline;
  }

  @include breakpoint(medium down) {
    &__icon {
      width: rem-calc(70);

      img {
        max-height: rem-calc(51);
        max-width: rem-calc(61);
      }

      &_sm img {
        max-width: rem-calc(45);
      }
    }
  }
}
